Package: com.erik.revealloader
Name: RevealLoader for 50
Version: 1.0.0
Architecture: iphoneos-arm
Description: Reveal(50)破解版请至公众号：玩机分享汇。RevealServer Loader for mac App Reveal v50 ，rootless and iOS15+!
Maintainer: Erik
Author: Erik
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
